{% extends 'base.html' %}
{% block title %}Добавить группу{% endblock %}


{%block custom_css%}
{%endblock%}


{% block content %}

    <div id="criteria_forms" class="container" style="margin-top: 32px">
        <h4 class="center-align" style="margin-bottom: 32px">Внесите значения критериев</h4>

        <div class="row">
            <a href="/"><button class="blue darken-1 waves-effect btn-large btn-custom left">В меню</button></a>
        </div>

        <form action="/add_values/{{ student_id }}" method="POST">
            {% for criteria in criterias %}
                {% include 'include_criteria.html' with context %}
            {% endfor %}
            <div class="col s1 m1 l1 center-align" style="margin-bottom: 80px">
                <button type="submit" class="blue darken-1 waves-effect btn-large btn-custom center" id="add_criteria">Сохранить значения</button>
            </div>
        </form>

        {% for criteria,values in values_history.items() %}
            <div class="row" >
                <div class="col s12 m12 l12 xl12 valign-wrapper" style="margin-top: 10px;">
                    <h4>{{ criteria.name }}</h4>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>Значение</th>
                            <th>Дата</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for value in values %}
                            <tr>
                                <td>{{ value.value }}</td>
                                <td>{{ value.assignment_time }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endfor %}
    <canvas id="myChart" width="400" height="400"></canvas>
    </div>
{% endblock %}

{%block custom_js%}
    <script src="{{ url_for('static', filename='js/Chart.js-2.8.0/dist/Chart.js') }}"></script>
    <script>
        var ctx = document.getElementById("myChart");
        var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: [
            {% for date in stat_dates %}
                "{{ date }}",
            {% endfor %}
        ],
        datasets: [{
            label: '# of Votes',
            data: {{ stat_values }},
            backgroundColor: [
                'rgba(54, 162, 235, 0.2)',
                 'rgba(54, 162, 235, 0.2)',
                 'rgba(54, 162, 235, 0.2)',
                 'rgba(54, 162, 235, 0.2)',
                 'rgba(54, 162, 235, 0.2)',
            ],
            borderColor: [
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
    </script>
{%endblock%}
