{% extends 'base.html' %}
{% block title %}Добавить группу{% endblock %}


{%block custom_css%}
{%endblock%}


{% block content %}

    <div id="criteria_forms" class="container" style="margin-top: 32px">
        <h4 class="center-align" style="margin-bottom: 32px">Добавить группу критериев</h4>

        <div class="row">
            <a href="/"><button class="blue darken-1 waves-effect btn-large btn-custom left">В меню</button></a>
        </div>

        {% if can_add %}
            <form id="criteria_template" class="criteria" action="/create_group" method="POST">
                <div class="row">
                    <div class="input-field col s12 m12 l12 xl12">
                        <input type="text" data-length="30" id="name" maxlength="30" name="name" class="validate" required aria-required="true" title="Используйте только буквы для заполнения данного поля" pattern="^[А-Яа-яЁёA-Za-z\s]+$">
                        <label for="name">Название группы</label>
                        <span class="helper-text" data-error="Поле не заполнено или заполнено неверно. Для ввода используйте только буквы." data-success="">Обязательное поле</span>
                    </div>

                    <div class="input-field col s12 m12 l12 xl12">
                        <textarea name="description" class="materialize-textarea"></textarea>
                        <label for="description">Описание группы</label>
                        <span class="helper-text" data-error="Поле не заполнено или заполнено неверно. Для ввода используйте только буквы." data-success="">Обязательное поле</span>
                    </div>
                </div>
                <div class="col s1 m1 l1 center-align" style="margin-bottom: 80px">
                    <button type="submit" class="blue darken-1 waves-effect btn-large btn-custom center" id="add_criteria">Создать группу</button>
                </div>
            </form>
        {% else %}
            <div class="row">
                <p style="color: red">Достигнуто максимальное количество групп</p>
            </div>
        {% endif %}
    </div>

{% endblock %}

{%block custom_js%}
{%endblock%}
