{% extends 'base.html' %}
{% block title %}Меню{% endblock %}


{%block custom_css%}
{% endblock %}


{% block content %}

    <div class="container" style="margin-top: 32px">
    {% if user_group == "admin" %}
        <div class="col s12 m12 l12 center-align" style="margin-bottom: 50px">
            <a href="/create_group"><button class="blue darken-1 waves-effect btn-large btn-custom" style="width: 50%;">Создать группу критериев</button></a>
        </div>
        <div class="col s12 m12 l12 center-align" style="margin-bottom: 50px">
            <a href="/groups"><button class="blue darken-1 waves-effect btn-large btn-custom" style="width: 50%;">Управление критериями</button></a>
        </div>
        <div class="col s12 m12 l12 center-align" style="margin-bottom: 50px">
            <a href="/permissions"><button class="blue darken-1 waves-effect btn-large btn-custom" style="width: 50%;">Управление доступными страницами</button></a>
        </div>
    {% endif %}
    {% if user_group == "students" %}
        <div class="col s12 m12 l12 center-align" style="margin-bottom: 50px">
            <a href="/settings"><button class="blue darken-1 waves-effect btn-large btn-custom" style="width: 50%;">Редактировать профиль</button></a>
        </div>
        <div class="col s12 m12 l12 center-align" style="margin-bottom: 50px">
            <a href="/add_tsr"><button class="blue darken-1 waves-effect btn-large btn-custom" style="width: 50%;">Добавить ТСР</button></a>
        </div>
        <div class="col s12 m12 l12 center-align" style="margin-bottom: 50px">
            <a href="/student_requests"><button class="blue darken-1 waves-effect btn-large btn-custom" style="width: 50%;">Мои заявки</button></a>
        </div>
    {% endif %}
    </div>

{% endblock %}

{%block custom_js%}
    <script src="{{ url_for('static', filename='js/create_criteria.js') }}"></script>
{%endblock%}
