{% extends 'base.html' %}
{% block title %}Список заявок{% endblock %}


{%block custom_css%}
{%endblock %}


{% block content %}

    <div id="criteria_forms" class="container" style="margin-top: 32px">
        <h4 class="center-align" style="margin-bottom: 32px">Список заявок</h4>

        <div class="row">
            <a href="/"><button class="blue darken-1 waves-effect btn-large btn-custom left">В меню</button></a>
            <a href="/create_request"><button class="blue darken-1 waves-effect btn-large btn-custom right">Создать заявку</button></a>
        </div>

        {% for request in requests %}
            {% include 'include_request.html' with context %}
        {% endfor %}
    </div>

{% endblock %}

{%block custom_js%}
{%endblock%}
