{% extends 'base.html' %}
{% block title %}Добавить группу{% endblock %}


{%block custom_css%}
{%endblock %}


{% block content %}

    <div id="criteria_forms" class="container" style="margin-top: 32px">
        <h4 class="center-align" style="margin-bottom: 32px">Выберите группу пользователей</h4>

        <div class="row">
            <a href="/"><button class="blue darken-1 waves-effect btn-large btn-custom left">В меню</button></a>
        </div>

        {% for role in roles %}
            {% if role.name != "admin" %}
                {% include 'include_role.html' with context %}
            {% endif %}
        {% endfor %}
    </div>

{% endblock %}

{%block custom_js%}
{%endblock%}
